<!DOCTYPE html>
<html ng-app="Instafollowr">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body ng-controller="ApplicationController as app">

  <div ui-view="main"></div>

  <script src="/src/app.js"></script>
  <script src="/src/ApplicationController.js"></script>

  </body>
</html>
