<!DOCTYPE html>
<html ng-app="Instafollowr">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="ApplicationController as app">

  <div ui-view="main"></div>

  <!-- Vendor -->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

  <script src="/src/app.js"></script>

  <!-- Services -->
  <script src="/src/auth/services/AuthInterceptorService.js"></script>
  <script src="/src/auth/services/AuthService.js"></script>
  <script src="/src/auth/services/SessionService.js"></script>

  <!-- Controllers -->
  <script src="/src/ApplicationController.js"></script>
  <script src="/src/auth/controllers/LoginController.js"></script>
  <script src="/src/auth/controllers/RegisterController.js"></script>

  <!-- Directives -->
  <script src="/src/auth/directives/LoginDirective.js"></script>
  <script src="/src/auth/directives/RegisterDirective.js"></script>
  <script src="/src/common/directives/compareTo.js"></script>

  <!-- Config -->
  <script src="/src/config/config.js"></script>

  </body>
</html>
