<!DOCTYPE html>
<html ng-app="Instafollowr">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


  <script src="/src/app.js"></script>

  </body>
</html>
