<div ng-controller="LoginController as vm">
    <form name="loginForm" class="form-signin" novalidate>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="vm.loginData.username" type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off">
        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
            <span ng-show="loginForm.email.$error.required">Enter your email.</span>
            <span ng-show="loginForm.email.$error.email">Please enter a valid email.</span>
        </div>

        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="vm.loginData.password" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="off" minlength="4" maxlength="16">
        <div ng-show="loginForm.$submitted || loginForm.password.$error.minlength">
            <span ng-show="loginForm.password.$error.minlength">Password must be at least 4 characters.</span>
        </div>
        <button ng-click="vm.login()" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        {{loginForm.password.$error}}
    </form>
</div>

<br><br>
